@media(max-width:700px) {
    .nav-ul {
        display: none;
    }
    .bar {
        display: block;
        margin-right: 25px;
    }
    .section1{
        justify-content: center;
    }
    .right-box{
        width: 100%;
        padding:20px
    }
    .left-box{
        width: 100%
    }
    .section3{
        align-items: center;
        flex-direction: column;
    }
    .section3-div{
        width: 80%;
    }
    .section3-img{
        width: 80%;
        margin-top: 80px;
    }
    .section4-div{
        align-items: center;
        flex-direction: column;
    }
    .image1{
        padding-bottom: 30px;
        width: 100%
    }
    .image{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .footer-flex{
        flex-wrap: wrap;
    }
    .footer-block01{
        margin-bottom: 20px;
    }
    .footer-block{
        margin-right:5px;
    }
    .left-box{
        padding: 30px
    }
    .right-box{
        padding: 30px;
    }
}

@media(max-width:480px) {
    .nav-ul {
        display: none;
    }
    .bar {
        display: block;
    }
    .h2{
        font-size: 30px;
        left: 20px;
    }
    .logo{
        padding: 20px;
    }
    .header-text{
        left: 20px;

    }
    .section1{
        justify-content: center;
    }
    .right-box{
        width:80%
    }
    .left-box{
        width: 80%
    }
    .right-box-div{
        flex-direction: column;
        align-items: center;
    }
    .div-img{
        margin: 5px;
    }
    .section3{
        align-items: center;
        flex-direction: column;
    }
    .section3-div{
        width: 80%;
        padding: 20px;
    }
    .section3-h{
        font-size: 25px;
        margin-top: 35px;
    }
    .div-img1{
        width: 100%;
    }
    .h3{
        font-size: 30px;
    }
    .section3-div{
        width: 80%;
    }
    .section3-img{
        width: 80%;
        margin-top: 80px;
    }
    .section4-div{
        align-items: center;
        flex-direction: column;
    }
    .image{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .footer-flex{
        flex-wrap: wrap;
    }
    .footer-block01{
        margin-bottom: 20px;
    }
    .footer-block{
        margin-right:5px;
    }
    .left-box{
        padding: 30px
    }
    .right-box{
        padding: 30px;
    }
    .section4-p{
        padding: 20px;
    }
    .section4-h{
        padding: 20px;
        font-size: 30px;}
    .section4-div{
        padding-bottom: 20px;
    }
    .list{
        display: none;
    }
    .last{
        display: none;
    }
}